/keys/
/target
Cargo.lock
*.db
/test-ledger
listener/node_modules/
listener/dist/
listner

/target/
**/target/

*.rs.bk
*.pdb
.DS_Store

.cursorrules
/cursor/
/listner/ # Note the typo listner matches your directory
